
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Sharp');

/* ============= NAV BAR ============ */
/* nav {
  width: 100%;
  background: var(--color-white);
  padding: 1rem 0;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 96%;
  margin: 0 auto;
}

nav img.logo {
  width: 7rem;
}

nav .search-bar {
  background: var(--color-light);
  padding: var(--padding-2) var(--card-padding);
  width: 32vw;
  border-radius: var(--border-radius-2);
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-gray-light);
  position: absolute;
  left: 15%;
}

nav .search-bar input[type="search"] {
  color: var(--color-dark);
  background: transparent;
  width: 100%;
}

nav .search-bar input[type="search"]::placeholder {
  color: var(--color-gray-dark);
}

nav .profile-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

nav .profile-area .theme-btn {
  display: flex;
  background: var(--color-light);
  width: 5rem;
  height: 2rem;
  border-radius: var(--border-radius-2);
  cursor: pointer;
}

nav .profile-area .theme-btn span {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

nav .profile-area .theme-btn .active {
  background: var(--color-dark);
  border-radius: var(--border-radius-2);
  color: var(--color-white);
}

nav .profile-area .profile {
  display: flex;
  gap: 1rem;
  align-items: center;
}

nav .profile-area .profile-photo {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

nav .profile-area button {
  display: none;
} */

/* ===========================  THEME-BUTTON ========================== */


#top-nav .top-nav-header .container .d-flex .theme-btn {
	display: flex;
	background: var(--color-light);
	width: 5rem;
	height: 2rem;
	border-radius: var(--border-radius-2);
	cursor: pointer;
}
  
#top-nav .top-nav-header .container .d-flex .theme-btn span {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.3rem;
}
  
#top-nav .top-nav-header .container .d-flex .theme-btn .active {
	background: var(--color-dark);
	border-radius: var(--border-radius-2);
	color: var(--color-white);
}

/* =========================== Middle column ========================== */

.d-flex .container main .insights {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.6rem;
}

.d-flex .container main .insights > div {
	background: var(--color-white);
	padding: var(--card-padding);
	border-radius: var(--card-border-radius);
	margin-top: 1rem;
	margin-bottom: 2.5rem;
	box-shadow: var(--box-shadow);
	transition: all 300ms ease;
}

.d-flex .container main .insights > div:hover {
	box-shadow: none;
}

.d-flex .container main .insights > div span {
	background: var(--color-primary-2);
	padding: 0.5rem;
	border-radius: 50%;
	color: var(--color-white);
	font-size: 2rem;
}

.d-flex .container main .insights > div.expenses span {
	background: var(--color-danger-2);
}

.d-flex .container main .insights > div.stock-return span {
	background: var(--color-success-2);
}

.d-flex .container main .insights > div .middle {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.d-flex .container main .insights h3 {
	margin: 1rem 0 0.6rem;
	font-size: 1rem;
}

.d-flex .container main .insights .progress {
	position: relative;
	width: 92px;
	height: 92px;
	border-radius: 50%;
}

.d-flex .container main .insights svg {
	width: 7rem;
	height: 7rem;
}

.d-flex .container main .insights svg circle {
	fill: none;
	stroke: var(--color-primary);
	stroke-width: 14;
	stroke-linecap: round;
	transform: translate(5px, 5px);
}

.d-flex .container main .insights .user-info svg circle {
	stroke-dashoffset: -30;
	stroke-dasharray: 200;
}

.d-flex .container main .insights .expenses svg circle {
	stroke-dashoffset: 20;
	stroke-dasharray: 80;
}

.d-flex .container main .insights .stock-return svg circle {
	stroke-dashoffset: 35;
	stroke-dasharray: 110;
}

.d-flex .container main .insights .progress .number {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.d-flex .container main .insights small {
	margin-top: 1.3rem;
	display: block;
}

/* =========================== Middle column (top area) ========================== */

.d-flex .container main section.middle .header {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.d-flex .container main section.middle .header input[type='date'] {
	padding: 0.5rem 2rem;
	border-radius: var(--border-radius-2);
	background: var(--color-white);
	color: var(--color-gray-dark);
}

.d-flex .container main section.middle .cards {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
}

.d-flex .container main section.middle .cards .card {
	background: linear-gradient(#ff796f, #bd261b);
	padding: var(--card-padding);
	border-radius: var(--card-border-radius);
	color: white;
	height: 16rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 2rem 2rem var(--color-danger-light);
	transition: all 300ms ease;
	min-width: 22rem;
}

.d-flex .container main section.middle .cards .card:nth-child(2) {
	background: linear-gradient(#7f8191, #27282f);
	box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
}

.d-flex .container main section.middle .cards .card:nth-child(3) {
	background: linear-gradient(#5d70ff, #5719c2);
	box-shadow: 0 2rem 2rem var(--color-primary-light);
}

.d-flex .container main section.middle .cards .card:hover {
	box-shadow: none;
}

.d-flex .container main section.middle .card .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.d-flex .container main section.middle .card .top .left {
	display: flex;
	gap: 0.5rem;
}

.d-flex .container main section.middle .card .top .left h2 {
	font-weight: 200;
	font-size: 1.4rem;
}

.d-flex .container main section.middle .card .top .left img {
	width: 2.3rem;
	height: 2.3rem;
	border: 1px solid white;
	border-radius: var(--border-radius-2);
	padding: 0.4rem;
}

.d-flex .container main section.middle .card .top img.right {
	width: 3.5rem;
}

.d-flex .container main section.middle .card .middle {
	display: flex;
	justify-content: space-between;
}

.d-flex .container main section.middle .card .middle .chip {
	width: 3.5rem;
}

.d-flex .container main section.middle .card .bottom {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.d-flex .container main section.middle .card .bottom .right {
	display: flex;
	gap: 2rem;
}

/* ==================== MONTHELY REPORT ================ */
.d-flex .container main .monthly-report {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
	justify-content: space-between;
	margin-top: 2rem;
}

.d-flex .container main .monthly-report h1 {
	font-weight: 700;
	font-size: 1.8rem;
}

/* ==================== Total expenses ================ */
.d-flex .container main .total-expenses {
	margin-top: 2rem;
	display: flex;
	align-self: center;
	gap: 2rem;
}

.d-flex .container main .total-expenses .badges {
	display: flex;
	gap: 1rem;
	align-self: center;
	flex-wrap: wrap;
	max-width: 100%;
}

.d-flex .container main .total-expenses .badge span {
	width: 7px;
	height: 7px;
	border-radius: 50%;
}

.d-flex .container main .total-expenses .badge {
	padding: 0.6rem var(--card-padding);
	background: var(--color-white);
	border-radius: var(--border-radius-2);
	display: flex;
	align-items: center;
	gap: 1rem;
	transition: all 300ms ease;
}

.d-flex .container main .total-expenses .badge:hover {
	box-shadow: 0 0 1.5rem var(--color-primary-light);
	cursor: pointer;
}

.d-flex .container main .total-expenses .badge:first-child span {
	display: flex;
	align-self: center;
	justify-content: center;
	height: fit-content;
	font-size: 1.5rem;
}

.d-flex .container main .total-expenses .badge div {
	display: flex;
	gap: 2rem;
	align-self: center;
	color: var(--color-gray-dark);
}

/* ==================== OVERVIEW-ICONS ================ */


.d-flex .container main .middle .insights .stock-return .middle .progress .circular--landscape { 
	display: inline-block; 
	position: relative; 
	width: 100%; 
	height: 100%; 
	overflow: hidden; 
	border-radius: 50%; 
} 

.d-flex .container main .middle .insights .stock-return .middle .progress .circular--landscape img { 
		width: 100%; 
		height: 100%; 
		margin-left: 0px; 
		margin-top: 0px; 
}

/* ==================== CANVAS (CHARTJS) ================ */

.charts-container {
	display: flex;
	flex-direction: row; 
	justify-content: space-between;
	min-height: 600px;
} 

.charts-container canvas#pie-chart {
	background: var(--color-white);
	max-height: 50%;
	max-width: 49%;
	margin-top: 2rem;
	border-radius: var(--card-border-radius);
	padding: var(--card-padding);
	box-shadow: var(--box-shadow);
	transition: all 300ms ease;
}

.charts-container canvas#trend-chart {
	background: var(--color-white);
	max-height: 50%;
	max-width: 49%;
	margin-top: 2rem;
	border-radius: var(--card-border-radius);
	padding: var(--card-padding);
	box-shadow: var(--box-shadow);
	transition: all 300ms ease;
}

.charts-container canvas#pie-chart:hover,
.charts-container canvas#trend-chart:hover
{
	box-shadow: none;
}

/* .d-flex .container main .insights > div {
	background: var(--color-white);
	box-shadow: var(--box-shadow);
	transition: all 300ms ease;
} */


/* .charts-container canvas {
	height: 400px !important;
}


.charts-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.charts-container canvas#pie-chart {
	background: var(--color-white);
	max-height: 100%;
	max-width: 100%;
	margin-top: 2rem;
	border-radius: var(--card-border-radius);
	padding: var(--card-padding);
}

.charts-container canvas#trend-chart {
	background: var(--color-white);
	max-height: 100%;
	max-width: 100%;
	margin-top: 2rem;
	border-radius: var(--card-border-radius);
	padding: var(--card-padding);
} */

/* ============= MEDIA QUERIES FOR TABLETS & IPHONES =============== */
@media screen and (max-width: 1024px) {
	nav .profile-area {
		gap: 2rem;
	}

	nav .profile-area button#menu-btn {
		display: inline;
		background: transparent;
		color: var(--color-dark);
	}

	.d-flex .container main .middle .insights {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
	}

	main aside {
		position: fixed;
		top: 0;
		left: -100%;
		z-index: 3;
		background: var(--color-white);
		width: 22rem;
		height: 100vh;
		box-shadow: 2rem 0 2rem var(--color-primary-light);
		display: none;
		animation: showSidebar 500ms ease forwards;
	}

	@keyframes showSidebar {
		to {
			left: 0;
		}
	}

	main aside button#close-btn {
		display: inline-block;
		width: 3rem;
		height: 3rem;
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: 4;
		background: transparent;
		color: var(--color-dark);
	}

	button:hover {
		cursor: pointer;
	}

	main aside .sidebar {
		margin-top: 4rem;
	}

	main aside .updates {
		display: none;
	}

	main section.middle .cards {
		grid-template-columns: 1fr 1fr;
	}

	main canvas {
		margin: 3rem 0 1rem;
	}

	main section.right .recent-transactions {
		margin-top: 3rem;
	}

	.charts-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.charts-container canvas#pie-chart {
		background: var(--color-white);
		max-width: 100%;
		margin-top: 2rem;
		border-radius: var(--card-border-radius);
		padding: var(--card-padding);
	}

	.charts-container canvas#trend-chart {
		background: var(--color-white);
		max-width: 100%;
		margin-top: 2rem;
		border-radius: var(--card-border-radius);
		padding: var(--card-padding);
	}
}

/* ============= MEDIA QUERIES FOR MOBILE PHONES =============== */
@media screen and (max-width: 600px) {
	nav .profile-area {
		gap: 2.6rem;
	}

	nav .profile h5,
	nav .profile span {
		display: none;
	}

	main section.middle .cards {
		grid-template-columns: 1fr;
	}

	main section.middle .total-expenses {
		flex-direction: column;
		align-items: flex-start;
		margin-top: 3rem;
		gap: 1.4rem;
	}
	main .insights {
		grid-template-columns: 1fr;
		gap: 0;
	}
}
