#stock-table-title div {
	font-weight: bold;
}

#stock-table-title div span,
.stock-detail div span {
	align-self: flex-end;
	text-align: center;
	font-size: 1em;
}

#user-stock {
	border: 1px solid black;
	padding: 1em;
	border-radius: 20px;
}
#day-gainer,
#day-loser,
#day-active {
	border: 1px solid black;
	padding: 1em;
	border-radius: 20px;
	box-shadow: 2px 2px 2px;
}
@media screen and (max-width: 500px) {
	#stock-table-title div span,
	.stock-detail div span {
		font-size: 0.8em;
	}
	#daily-detail {
		font-size: 0.8em;
		margin-top: 20px;
	}
	#daily-detail h5 {
		font-size: 1.1em;
		font-weight: bolder;
	}
}
